# Exploration

In [5]:
import requests
import pandas as pd

In [19]:
df = pd.read_csv('toolbox502/data/countries_code.csv')
df.head()

        Country CountryCode             Currency Code
0   New Zealand          NZ  New Zealand Dollars  NZD
1  Cook Islands          CK  New Zealand Dollars  NZD
2          Niue          NU  New Zealand Dollars  NZD
3      Pitcairn          PN  New Zealand Dollars  NZD
4       Tokelau          TK  New Zealand Dollars  NZD

In [59]:
df[df['Country'] == 'France']

   Country CountryCode Currency Code
18  France          FR    Euros  EUR

SyntaxError: invalid syntax (<ipython-input-39-e6981c6e6a92>, line 1)